/*==========================*/
/*      CSS para o body     */
/*==========================*/

body {
  font-family: "Merriweather Sans", sans-serif;
  background: var(--body-bg-color);
  display: grid;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body,
img,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
div,
a,
p {
  margin: 0px;
  padding: 0px;
}

/*==========================*/
/*    Variáveis de cores    */
/*==========================*/

:root {
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;
}

/*==========================*/
/*    CSS para os cards     */
/*==========================*/

.style-cards {
  background: var(--bg-cards);
  border-radius: 20px;
  color: var(--text-color);
  box-sizing: border-box;
}

.informacoes-gerais {
  display: grid;
  gap: 30px;
}

/*==========================*/
/*       CSS Perfil         */
/*==========================*/

.informacoes-perfil {
  grid-column: 1;
  width: 348px;
  height: 292px;
  padding: 30px 40px;
  text-align: center;
  margin: 40px 0px 0px 40px;
}

.informacoes-perfil h4 {
  font-size: 23px;
  margin-top: 30px;
  font-weight: bold;
}

.container-imagem {
  text-align: center;
}

.imagem-perfil {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: solid 2px #00ff00;
}

/*==========================*/
/*       CSS Contato        */
/*==========================*/

.informacoes-contato {
  grid-column: 1;
  width: 348px;
  height: 348px;
  padding: 30px 40px;
  margin-left: 40px;
}

.informacoes-contato a {
  color: var(--text-color);
}

.informacoes-contato li {
  display: flex;
  align-items: center;
  /* margin-top: 20px; */
}

.informacoes-contato li:nth-child(n + 2) {
  margin-top: 20px;
}

.informacoes-contato img {
  margin-right: 20px;
}

/*==========================*/
/*      CSS Tecnologia      */
/*==========================*/

.informacoes-tecnologias {
  grid-column: 1;
  width: 348px;
  height: 208px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 40px;
}

.informacoes-tecnologias h4 {
  padding: 30px 20px 0px;
}

.container-tecnologias {
  padding: 20px;
}

.lista-tecnologia {
  display: flex;
  flex-wrap: wrap;
}

.itens-tecnologia {
  width: 76px;
  height: 24px;
  background: var(--bg-techs);
  margin: 10px;
  text-transform: uppercase;
  border-radius: 30px;
  color: black;
  font-weight: bold;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: auto;
}

/*==========================*/
/*     CSS Experiências     */
/*==========================*/

.informacoes-experiencias {
  grid-column: 1;
  width: 348px;
  height: 352px;
  margin-left: 40px;
}

.informacoes-experiencias h4 {
  margin: 30px 0px 0px 30px;
}

.container-experiencias {
  box-sizing: border-box;
  padding: 20px;
  margin: 0px 40px;
}

.lista-experiencia {
  list-style: circle;
  font-weight: bold;
  font-size: 14px;
}

.lista-experiencia li:nth-child(n+2) {
  margin-top: 20px;
}

.detalhe-experiencia {
  font-size: 12px;
  display: block;
}

/*==========================*/
/*       CSS Projetos       */
/*==========================*/

.container-projetos {
  grid-column: 2;
  margin: 40px 0px 0px 0px;
}

.busca-projetos {
  width: 952px;
  height: 86px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.projetos {
  display: flex;
  margin-top: 31px;
  gap: 30px;
}

.busca-projetos span {
  font-size: 14px;
}

/*==========================*/
/*    CSS Projetos-Lista    */
/*==========================*/

.projetos-lista {
  width: 461px;
  height: 186px;
  padding: 30px;
}

.header-card {
  display: flex;
  align-items: center;
}

.footer-card {
  display: flex;
  align-items: center;
}

.footer-card span {
  margin-right: 20px;
}

.header-card img,
.footer-card img {
  margin-right: 8px;
}

.projetos-lista p {
  margin: 20px 0px;
}

.linguagem-repositorio {
  align-items: center;
  margin-left: auto;
}

.linguagem-repositorio::before {
  content: "";
  width: 15px;
  height: 15px;
  background: #e7de79;
  border-radius: 50%;
  margin-right: 10px;
  color: var(--text-color);
}

.icone-linguagem {
  display: flex;
}

/*==========================*/
/*        CSS Posts         */
/*==========================*/

.posts-recentes {
  width: 952px;
  height: 86px;
  padding: 0px 20px;
  margin-top: 30px;
}

.posts-recentes {
  display: flex;
  align-items: center;
}

.post {
  width: 952px;
  height: 201px;
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.container-imagem-post {
  display: flex;
  padding: 31px 0px 42px 30px;
}

.imagem-perfil-post {
  width: 128px;
  height: 128px;
  border-radius: 50%;
}

.conteudo-post {
  margin-left: 20px;
}

.conteudo-post h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.conteudo-post span {
  font-size: 14px;
}

.conteudo-post h5 {
  font-size: 16px;
  margin: 20px 0px;
}

.itens-hashtag {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  max-width: 446px;
}

/*==========================*/
/*       CSS Footer         */
/*==========================*/

.footer {
  padding: 30px;
  margin: 10px auto;
  grid-column: 1 / 3;
}

.footer p {
  color: var(--text-color);
  text-align: center;
}